# Recomiendo ENCARECIDAMENTE usar anaconda.

# Pero si aún así vas a usar virtualenv, recuerda cambiar el kernel del 
# jupyter notebook para que funcione con él. Con virtualenv activado, ejecuta
# python -m ipykernel install --user --name=venv

numpy==1.26.3
scikit-learn==1.3.2
pandas==2.1.4
matplotlib==3.8.2
seaborn==0.13.1
jupyterlab==4.0.10
lightgbm
xgboost